<div class="alerta">
    <button class="cerrar-btn" onclick="this.parentElement.style.display='none';">X</button>
    Esto es una alerta de error.
</div>

<div class="alerta success">
    <button class="cerrar-btn" onclick="this.parentElement.style.display='none';">X</button>
    Esto es una alerta de éxito.
</div>

<div class="alerta warning">
    <button class="cerrar-btn" onclick="this.parentElement.style.display='none';">X</button>
    Esto es una alerta de advertencia.
</div>

<div class="alerta info">
    Esto es una alerta de información.
    <button class="cerrar-btn" onclick="this.parentElement.style.display='none';">X</button>
</div>