{%extends 'layout.html'%}
{% block contend%}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/fnaf.css')}}">
</head>

<div class="alerta info">
    El apartado de Android está temporalmente desactivado debido a algunos errores que estamos solucionando en los juegos móviles.
    <br> Agradecemos tu paciencia mientras trabajamos para mejorar la experiencia.
</div>

<section class="Juegos">
   
    {% for item in items %}
    <section class="CardContenido">
        <section class="Info">
            <section class="Title">
                <header>
                    {{ item.title }}
                </header>
                <article>
                    {{ item.username }}
                </article>
            </section>
            <hr class="hrs" />
            <section class="Descripcion">
                <p>
                    {{ item.description }}
                </p>
            </section>
        </section>
        <section class="Web">
            <div class="Links">
                <p>Links de descargas</p>
                <a href="{{ item.Pc_link }}" target="_blank">Pc</a>
                <a style="cursor: no-drop;" target="_blank" onclick="return false;">Android</a>
                <!-- href="{{ item.Android_link }}" -->
            </div>
            <img 
                class="WebInfo" 
                src="{{ item.image_src }}" 
                alt="{{ item.title }}">
        </section>
    </section>
    {% endfor %}
    
</section>

{% endblock%}