{%extends 'layout.html'%}
{% block contend%}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
</head>

<section class="Comunicados">
    <div class="Comunidado-info">
        <span>Welcome</span>
        <hr>
        <p>Bienvenido ala web de juegos retos y juegos que son uno de los mas descargados.</p>

        <time class="Fecha" datetime="2024-12-21">21 de diciembre de 2024</time>
    </div>

    <div class="Comunidado-info">
        <span>Juegos de Fnaf</span>
        <hr>
        <p>Juegos de la saga de Fnaf del 1 al 6 y el ultime custom night.</p>

        <time class="Fecha" datetime="2024-12-21">21 de diciembre de 2024</time>
    </div>

    
</section>
{% endblock%}